/* Configurações de estilo do corpo do site */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #3d3d3d;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

/* Configurações do titulo principal */
.title {   /* Declaração de classe*/
    background-color: #e1edf2;
    padding: 10px;
    font-size: 32px;
}

/* Configuração do subtitulo */
.subtitle {
    /* Parte de baixo da borda: tamanho tipo cor*/
    border-bottom: 2px solid black;
}

/* configurações das imagens */
figure {
    text-align: center;                 /* Alinhamento ao centro */
    background-color: whitesmoke;     /* cor de fundo */
    border: 1px solid lightgrey;      /* todas as bordas */ 
    margin: 30px;
    padding: 15px;
}

figcaption {
    margin-top: 10px;
}

figure img {
    width:  100%;   /* faz as imagens ocuparem 100% do espaço dentro da tag figure */
}

/* estilizando usando o atributo class das tags */
.img-matriz {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.img-familia {
    width: 275px;
    float: right    /* desloca para a direita */
}

/* Usando o padrão BEMCSS para nomear classes */

.contact__subtitle {
    display: inline;
    /* 
    Permite que outro elemento fique do seu lado caso haja espaço
    O elemento ocupa apenas o espaço para mostrar seu conteudo
    Não recebe a propriedade width
    */
}

.contact-section {
    display: inline-block; /* Muda apenas uma coisa em relação ao 'inline': recebe propriedades de tamanho */
    vertical-align: top;   /* alinhamento vertical para deixar todo o conteúdo no topo*/
    margin-left: 16px;
}

.contact-section--phone {
    margin-left: 32px;
}

.contact__info {
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contact__info-title {  /* para deixar o titulo lado a lado com a descrição */
    display: inline;
}

.contact__info-desc {   /* para deixar o titulo lado a lado com a descrição */
    display: inline;
    margin-left: 10px;
}


