/* Configurações de estilo do corpo do site */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #3d3d3d;
}

/* Configurações do titulo principal */
h1 {
    background-color: #e1edf2;
}

/* Configuração do subtitulo */
h2 {
    /* Parte de baixo da borda: tamanho tipo cor*/
    border-bottom: 2px solid black;
}

/* configurações das imagens */
figure {
    text-align: center;                 /* Alinhamento ao centro */
    background-color: whitesmoke;     /* cor de fundo */
    border: 1px solid lightgrey;      /* todas as bordas */  
}

